<div class= 'sign-up' style="text-align:center;"><%= link_to "Sign Up", new_user_path %></div>
<div class= 'sign-up' style="text-align:center;"><%= link_to "Log In To Existing Account", login_path %></div>
