<h1>All Schools for <%= @district.name %></h1>
<h3>School Board Member: <%= @district.board_member %></h3>

<% @district.schools.each do |school| %>
  <%= link_to school.name, school_path(school) %> (<%= school.grade_levels %>)
  <hr>
<% end %>
