<h1> All Schools</h1>

<div class="school_info"><% @schools.each do |school|  %>
  <%= school.name %>
  <%= school.description %>

  <% if current_user && current_user.admin? %>
    <div><%= link_to "Edit", edit_admin_school_path(school) %></div>
    <div><%= link_to "Delete", admin_school_path(school), method: "delete" %></div>
  <% end %>

<% end %>
</div>
