<h1> All Schools</h1>

<% @schools.each do |school|  %>
  <div class="school-info">
    <%= link_to school.name, school_path(school) %> (<%= school.description %>)
  </div>

  <% if current_user && current_user.admin? %>
    <p class='link-as-button'>
      <%= link_to "Edit", edit_admin_school_path(school) %></p>
    <p class='link-as-button'>
      <%= link_to "Delete", admin_school_path(school), method: "delete" %></p>
  <% end %><hr>

<% end %>
