<h1> All Schools</h1>

<div class="school_info"><% @schools.each do |school|  %>
  <%= link_to school.name, school_path(school) %> (<%= school.description %>)

  <% if current_user && current_user.admin? %>
    <%= link_to "Edit", edit_admin_school_path(school) %>
    <%= link_to "Delete", admin_school_path(school), method: "delete" %>
  <% end %><hr>

<% end %>
</div>
